<div class="form-container">
  <h1>Añadir consola</h1>
  <form [formGroup]="consolaForm" (ngSubmit)="onSubmit(consolaForm.value)">
      <label for="nombre">Nombre</label>
      <input type="text" formControlName="nombre" placeholder="Ingresa el nombre de la consola">
      <div *ngIf="consolaForm.get('nombre')?.invalid && (consolaForm.get('nombre')?.touched || consolaForm.get('nombre')?.dirty)">
          <span class="error-message" *ngIf="consolaForm.get('nombre')?.errors?.['required']">El campo nombre es obligatorio.</span>
      </div>
      <button type="submit" class="primary-button" [disabled]="!consolaForm.valid">Añadir</button>
  </form>
</div>
