<div class="form-container">
    <h1>Añadir animal</h1>
    <form [formGroup]="animalForm" (ngSubmit)="onSubmit(animalForm.value)">
        <label for="nombre">Nombre</label>
        <input type="text" formControlName="nombre" placeholder="Ingresa el nombre del animal">
        <div *ngIf="animalForm.get('nombre')?.invalid && (animalForm.get('nombre')?.touched || animalForm.get('nombre')?.dirty)">
            <span class="error-message" *ngIf="animalForm.get('nombre')?.errors?.['required']">El campo nombre es obligatorio.</span>
        </div>
        <label for="tipo">Tipo</label>
        <input type="text" formControlName="tipo" placeholder="Ingresa el tipo del animal">
        <div *ngIf="animalForm.get('tipo')?.invalid && (animalForm.get('tipo')?.touched || animalForm.get('tipo')?.dirty)">
            <span class="error-message" *ngIf="animalForm.get('tipo')?.errors?.['required']">El campo tipo es obligatorio.</span>
        </div>
        <button type="submit" class="primary-button" [disabled]="!animalForm.valid">Añadir</button>
    </form>
</div>
