<nav>
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex items-center justify-between h-16 mx-auto">
            <div class="flex">
                <div class="shrink-0 flex items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512" class="block h-9 w-auto fill-current text-gray-200"><path d="M337.8 5.4C327-1.8 313-1.8 302.2 5.4L166.3 96H48C21.5 96 0 117.5 0 144V464c0 26.5 21.5 48 48 48H592c26.5 0 48-21.5 48-48V144c0-26.5-21.5-48-48-48H473.7L337.8 5.4zM256 416c0-35.3 28.7-64 64-64s64 28.7 64 64v96H256V416zM96 192h32c8.8 0 16 7.2 16 16v64c0 8.8-7.2 16-16 16H96c-8.8 0-16-7.2-16-16V208c0-8.8 7.2-16 16-16zm400 16c0-8.8 7.2-16 16-16h32c8.8 0 16 7.2 16 16v64c0 8.8-7.2 16-16 16H512c-8.8 0-16-7.2-16-16V208zM96 320h32c8.8 0 16 7.2 16 16v64c0 8.8-7.2 16-16 16H96c-8.8 0-16-7.2-16-16V336c0-8.8 7.2-16 16-16zm400 16c0-8.8 7.2-16 16-16h32c8.8 0 16 7.2 16 16v64c0 8.8-7.2 16-16 16H512c-8.8 0-16-7.2-16-16V336zM232 176a88 88 0 1 1 176 0 88 88 0 1 1 -176 0zm88-48c-8.8 0-16 7.2-16 16v32c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16s-7.2-16-16-16H336V144c0-8.8-7.2-16-16-16z"/></svg>
                </div>

                <div class="hidden space-x-8 sm:-my-px sm:ml-10 sm:flex sm:items-center">
                    <div class="origin-top-left left-0 w-30">
                        <span class="inline-flex rounded-md">
                            <div
                            class="inline-flex items-center px-3 py-2 border border-transparent text-sm leading-4 font-medium rounded-md text-white bg-gray-800 hover:text-gray-300 focus:outline-none transition ease-in-out duration-150">
                                <p routerLink="/jugadores" routerLinkActive="active" ariaCurrentWhenActive="page">Polling</p>
                            </div>
                        </span>
                    </div>
                    <div class="origin-top-left left-0 w-30">
                        <span class="inline-flex rounded-md">
                            <div
                            class="inline-flex items-center px-3 py-2 border border-transparent text-sm leading-4 font-medium rounded-md text-white bg-gray-800 hover:text-gray-300 focus:outline-none transition ease-in-out duration-150">
                                <p routerLink="/animales" routerLinkActive="active" ariaCurrentWhenActive="page">WebSocket</p>
                            </div>
                        </span>
                    </div>
                    <div class="origin-top-left left-0 w-30">
                        <span class="inline-flex rounded-md">
                            <div
                            class="inline-flex items-center px-3 py-2 border border-transparent text-sm leading-4 font-medium rounded-md text-white bg-gray-800 hover:text-gray-300 focus:outline-none transition ease-in-out duration-150">
                                <p routerLink="/consolas" routerLinkActive="active" ariaCurrentWhenActive="page">EventSource</p>
                            </div>
                        </span>
                    </div>
                </div>
                    </div>
                </div>
            </div>

</nav>

  

